

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<h1>Client Balance</h1>
<%unless @users.blank?%>
<table id="table">
	<thead>
		<tr>
			<th>Client Name</th>
			<%unless @final.nil?%>
			<th>New Balance</th>
			<%else%>
			<th>Balance</th>
			<th></th>
			<%end%>
		</tr>
	</thead>
	<tbody>
		<%@users.each do |user|%>
		<tr class="tr_bg_yellow">
			<td><strong>
				<%unless user.is_this_trial%>
				<%=user.client_name %>
				<%else%>
				<%=user.client_name %> (T)
				<%end%>
				
				</strong></td>
			
			<td><%=number_to_currency(user.balance)%></td>
			
				<td><button id="create-user" class="btn-inverse" user_id="<%=user.id%>">Change balance</button></td>
				<% link_to 'Edit', edit_user_path(user) if @final.nil?%>
		</tr>
			<%end%>
	</tbody>
</table>
<%else%>
Sorry record not found.
<%end%>
<div id="dialog-form" title="Enter Password to change user balance">
<form>
	<div class="user_error"></div>
<fieldset>
<label for="password">Password</label>
<input type="password" name="password" id="balance_password"  class="text ui-widget-content ui-corner-all">
</fieldset>
</form>
</div>

