
   <div id="update_status">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="../assets/jquery.editinplace.js"></script>
        <script type="text/javascript" src="../assets/demo.js"></script>
       <script type="text/javascript">
       	$(document).ready(function(){
	
	
var token= $('meta[name="csrf-token"]').attr('content');
var data={
		"authenticity_token": token		
	};

	// A select input field so we can limit our options
	$(".editme3").editInPlace({
		url: '/races/update_status?',
		field_type: "select",
		select_options: "win, lost",	
		params: data,
		success: function(response) {
        $("#update_status").empty();
        $("#update_status").html(response);
        }
	});
	$(".change_horse_place").editInPlace({
		url: '/races/update_horse_place?',
		field_type: "text",
		params: data,
		success: function(response) {
	       if (response=="updating..."){
	       	 window.location.reload();
	        }
        }
	});

	
});
       </script>
        

<!-- <h1>Current Bets</h1> -->
<div class="clr"></div>
<%unless @races.empty?%>
	<%if current_user.admin?%>
	<div id="ch_horse_place">
	<%=render 'admin_current_race'%>
	</div>
	<%else if current_user.reseller%>
	<%=render 'reseller_current_race'%>
	<%else%>
	<%=render 'client_current_race'%>
	<%end%>
	<%end%>
<%else%>
	There is no current race yet.
<%end%>
</div>

<script>
$(function() {
$( "#datepicker" ).datepicker({
	dateFormat:"dd-mm-yy",
	maxDate: 0,
	onSelect: function(date) {
		$("#todatepicker").datepicker("option","minDate", date)
		$('#LoadingImage').show();
		var to=$('#todatepicker').val();
		var data={
			'from' : date,
			'to' : to
		}
		if (to){
		$.get("/races/view_prev_races?",data,function(data){
   	$(".pre_races").empty();
   	$('#LoadingImage').hide();
   	$(".pre_races").html(data);
   });
    }
   }
});
$( "#todatepicker" ).datepicker({
	dateFormat:"dd-mm-yy",
	maxDate: 0,
	onSelect: function(date) {
		$("#datepicker").datepicker("option","maxDate", date)
		$('#LoadingImage').show();
		var from=$('#datepicker').val();
		var data={
			'from' : from,
			'to' : date
		}
	if (from){
   $.get("/races/view_prev_races?",data,function(data){
   	$(".pre_races").empty();
   	$('#LoadingImage').hide();
   	$(".pre_races").html(data);
   });
   }
  }
});
});
</script>



