
<div class="view_race">
	<%=render 'race_show'%>
</div>

<div class="view_race_with_clients">
	<%=render 'view_race_with_clients'%>
</div>


<!-- <%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %> -->
