<h1>Active Clients </h1>
<input type="text" id="seach_client" />
<button class="btn btn-inverse" id="search_client">Search</button>
<div id="user_view_client">
	<div class="clr"></div>
	<%=render 'user_view_clients'%>
</div>

