<div id="tnav" class="home_nav">
<ul>
<li class="active"><a href="/home/index">Home</a></li>
<li><a href="#">ABOUT US</a></li>
<li><%=link_to 'Client Area',new_user_session_path%></li>
<li ><%=link_to 'Admin Area',admin_new_user_session_path%></li>
<li><a href="#">CONTACT US</a></li>	

</ul>
</div>		