<div class="home_nav">
<ul>
<li class="active">Home</li>
<li>ABOUT US</a></li>
<li><%=link_to 'Client Area',new_user_session_path%></li>
<li ><%=link_to 'Admin Area',admin_new_user_session_path%></li>
<li><a href="#">CONTACT US</a></li>	

</ul>
</div>		